<div class="row">
  <div class="medium-6 medium-offset-3 columns text-center">
    <h1>Welcome to Lambda, assemblers!</h1>
    <p>Made with <%= icon('heart') %> by the Assembly community.</p>
  </div>
</div>
